@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #F24E1E;
}

.heading-highlight {
  color: var(--primary);
}
.btn-secondary {
  background-color: var(--primary);
}
.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}
